.shop{
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(209, 233, 241);
    position: relative;
    color: rgb(20, 24, 88);
}
.about{
    background-color: #7bbdf7;
    color:rgb(20, 24, 88);
    margin-top: 0px;
    height: 100%;
}