.header{
    display: flex;
  align-items: center;
  background-color:rgb(20, 24, 88); 
}
.header h3{
    padding-left: 10px;
    color:#7bbdf7;
}
.header h2{
    padding-left: 10px;
    color: rgba(233, 170, 54, 0.925);
}